<script id="idm-wizard.html" type="text/ng-template">
<div class="gramidcontainer">
  <section>
    <span class="logo"></span>
  </section>
  <span class="hr"></span>
  <section>
    <h5>Password Reset</h5>
  </section>
  <form name="resetForm"><div ng-transclude></div></form>
  <span class="hr"></span>
  <section class="spacer-bottom">
    <div class="half">&nbsp;</div>
    <div class="half">
      <div class="right">
        <button class="btn-hp" ng-disabled="resetForm.$invalid" ng-click="$parent.commitWebIdResetPassword()" ng-show="hasNext() && currentStepIndex != 0">Submit</button>
      </div>
    </div>
  </section>
</div>
</script>

<div ng-init="initResetWebIdPassword()">

  <idm-wizard name="resetWiz" form-name="resetForm" current-step-index="currentStepIndex">

    <idm-step step-title="{{webIdMessage}}">
    </idm-step>

    <idm-step>

      <section class="message">Your HP Web ID is <strong>{{account.email}}</strong></section>

      <section>
        <div class="col-xs-12 sm-padding">
          <div class="webid-label">Password</div>
          <input class="form-control" name="password" type="password" placeholder="new password" ng-model="resetPassword.passwordNew" required="required" ng-minlength="6" ng-maxlength="20" />
          <span class="icon1" ng-show="resetForm.password.$dirty && resetForm.password.$error.required" tooltip="Please enter new password." tooltip-placement="left">&nbsp;</span>
          <span class="icon1" ng-show="resetForm.password.$dirty && (resetForm.password.$error.maxlength || resetForm.password.$error.minlength)" tooltip="Passwords must be 6-20 characters." tooltip-placement="left">&nbsp;</span>
        </div>
      </section>

      <section>
        <div class="col-xs-12 sm-padding">
          <div class="webid-label">Confirm Password:</div>
          <input class="form-control" name="passwordConfirm" type="password" placeholder="confirm password" ng-model="resetPassword.passwordNewConfirm" required="required" ng-minlength="6" ng-maxlength="20" match="resetPassword.passwordNew" />
          <span class="icon1" ng-show="resetForm.passwordConfirm.$dirty && resetForm.passwordConfirm.$error.required" tooltip="Please enter password." tooltip-placement="left">&nbsp;</span>
          <span class="icon1" ng-show="resetForm.passwordConfirm.$error.mismatch" tooltip="Passwords must match." tooltip-placement="left">&nbsp;</span>
        </div>
      </section>

    </idm-step>

    <idm-step step-title="Your password has been reset. Please close this window and sign in using the new password.">
    </idm-step>

  </idm-wizard>

</div>
