<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">HP Helion OpenStack Community preview agreement</h4>
</div>
<div class="modal-body sm-body-padding" modal-scrollable>

  <p class="spacer-terms">ATTENTION: USE OF THE SOFTWARE IS SUBJECT TO
    THIS HP PREVIEW AGREEMENT BELOW.  YOU MUST REVIEW THE AGREEMENT AND
    EITHER ACCEPT OR NOT ACCEPT THE AGREEMENT. IF YOU DO NOT ACCEPT THE
    AGREEMENT, YOU MAY NOT USE THE SOFTWARE.</p>
    
  <p class="spacer-terms">This Preview Agreement (the "Agreement") is
    entered into between Hewlett-Packard Company, a Delaware corporation
    ("HP") and the recipient ("User") of the Technology (defined below),
    as of the date of receipt of the software (the "Effective Date").</p>

  <ol start=1 type=1>
    <li><span class="bold-text">Technology</span>. HP shall provide the
      object code version of the HP Helion software product listed below
      and related documentation, including presentations or other media
      (collectively the "Technology"), for the sole purpose of enabling
      User to internally test and evaluate the Technology (collectively,
      defined as “Use”).
    </li>
  </ol>

  <ol start=2 type=1>
    <li><span class="bold-text">Term and Termination</span>. This term of this Agreement
      (“Term”) will begin on the Effective Date and will terminate as provided
      below, unless earlier terminated as provided in this Agreement. User’s
      rights under this Agreement terminate if User does not comply with
      the terms of this Agreement.  HP may terminate this Agreement immediately
      at any time in its sole discretion.  Upon the expiration of the Term or
      any earlier termination of this Agreement, User shall promptly remove
      all copies or destroy all copies of the Technology in its possession.
    </li>
  </ol>

  <ol start=3 type=1>
    <li><span class="bold-text">License</span>. HP hereby licenses User to
      Use the Technology, royalty-free, during the Term. This license is
      non-transferable, non-sublicenseable, non-exclusive, limited and revocable.
      To the extent the Technology is subject to any third party license terms or
      the terms of an open source license for open source code, then those third
      party license terms or open source licenses shall govern with respect to that
      subject Technology; otherwise, the terms of this Agreement shall govern with
      regard to the Technology.
    </li>
  </ol>

  <ol start=4 type=1>
    <li><span class="bold-text">Restrictions on Use</span>. User will comply with
      all installation requirements provided by HP.  User acknowledges that the
      Technology may contain bugs or defects.  User’s right to use the Technology
      is specifically limited to the rights as described in this Agreement. No
      intellectual property license, and no other license or transfer of title
      or ownership of any kind is granted. Except as permitted by law, User shall
      not reverse engineer, disassemble, decompile, copy, distribute or modify the
      Technology or provide access to the Technology to a third party.
    </li>
  </ol>

  <ol start=5 type=1>
    <li><span class="bold-text">Future Availability</span>. HP may at any time and
      without notice choose not to release a general availability versions of the
      Technology,  or, even if released, to alter prices, features, specifications,
      capabilities, functions, release dates, availability, or other characteristics
      of the Technology.
    </li>
  </ol>

  <ol start=6 type=1>
    <li><span class="bold-text">Confidentiality of Information</span>. User acknowledges
      and agrees that all information pertaining to the terms and conditions of this
      Agreement and certain aspects of the Technology that are indicated as confidential
      by HP are HP’s proprietary and confidential information. As such, User shall protect
      the confidentiality of such information  until such information is made public by HP,
      using the same degree of care, but no less than a reasonable degree of care, to prevent
      the unauthorized use, dissemination, or publication of such information as parties use
      to protect their own confidential information of a like nature.   User shall not make
      public any information, reports or test results obtained pursuant to use of the
      Technology under this Agreement without HP’s prior consent.
    </li>
  </ol>

  <ol start=7 type=1>
    <li><span class="bold-text">Support</span>. HP is not required to provide User with
      technical support.  Any technical support HP does provide to User shall be at HP’s
      sole discretion and is provided “As Is”. Please refer to the documentation for
      installation or technical questions. User assumes full responsibility of the effective
      operation and for correcting any errors within and created by software provided under
      this Agreement.
    </li>
  </ol>

  <ol start=8 type=1>
    <li><span class="bold-text">Disclaimer of Warranties</span>.
      User accepts the Technology "AS IS", with any errors or defects. USER ACKNOWLEDGES
      THAT THE TECHNOLOGY HAS NOT COMPLETED HP'S FULL QUALITY ASSURANCE PROGRAM AND MAY
      HAVE ERRORS OR DEFECTS. HP MAKES NO EXPRESS OR IMPLIED WARRANTY OF ANY KIND WITH
      RESPECT TO THE TECHNOLOGY, AND SPECIFICALLY DISCLAIMS THE IMPLIED WARRANTIES OF
      MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NON-INFRINGEMENT.
    </li>
  </ol>

  <ol start=9 type=1>
    <li><span class="bold-text">Limitation of Liability</span>. TO THE FULLEST EXTENT
      PERMITTED UNDER LAW, HP WILL HAVE NO OBLIGATION OR LIABILITY (WHETHER ARISING IN
      CONTRACT, WARRANTY, TORT, NEGLIGENCE, PRODUCT LIABILITY, OR OTHERWISE) FOR ANY
      DIRECT, INCIDENTAL, INDIRECT, PUNITIVE, SPECIAL, OR CONSEQUENTIAL DAMAGES OR LIABILITIES
      (INCLUDING LOST PROFITS, LOSS OF INCOME, REVENUE,  GOODWILL, REPUTATION OR SAVINGS, LOSS
      OR UNAVAILABILITY OF OR DAMAGE TO DATA OR SOFTWARE RESTORATION), EVEN IF ADVISED OF THE
      POSSIBILITY OF SUCH DAMAGES OR LIABILITIES, ARISING UNDER THIS AGREEMENT.
    </li>
  </ol>

  <ol start=10 type=1>
    <li><span class="bold-text">Feedback</span>.
      User agrees that HP shall have all right, title and interest in and to any feedback,
      Technology test results or suggestions regarding the Technology (“Feedback”) that are
      proposed or furnished to HP by User.  HP at its discretion may choose not to use or
      implement any Feedback in the Technology. User shall execute any documents, and otherwise
      cooperate with HP at HP's expense, as necessary to enable HP to protect such rights.
      User shall not register or use any mark or internet domain name that contains HP’s trademarks.
    </li>
  </ol>

  <ol start=11 type=1>
    <li><span class="bold-text">Assignment</span>. User shall not assign or otherwise
      transfer any rights or obligations under this Agreement without prior written
      consent of HP. Any such assignments or transfers will terminate User’s rights
      under this Agreement.
    </li>
  </ol>

  <ol start=12 type=1>
    <li><span class="bold-text">Governing Law</span>. This Agreement will be governed
      by the laws of the state of New York, U.S.A., excluding rules as to choice and
      conflicts of law
    </li>
  </ol>

  <ol start=13 type=1>
    <li><span class="bold-text">Global Trade Compliance</span>. User agrees to comply
      with the trade-related laws and regulations of the U.S. and other national governments.
      User will not export, import or otherwise transfer the Technology provided under this
      Agreement except as authorized by this Agreement and that, User will be responsible for
      obtaining any required export or import authorizations. User confirms that it is not located
      in a country that is subject to trade control sanctions (currently Cuba, Iran, N. Korea, N.
      Sudan, and Syria) and further agrees that User will not retransfer the Technology to any such
      country. HP may suspend its performance under this Agreement to the extent required by laws
      applicable to either party.
    </li>
  </ol>

  <ol start=14 type=1>
    <li><span class="bold-text">Entire Agreement</span>. This Agreement contains the entire
      agreement of the parties relating to the subject matter hereof. Any representation, promise,
      or condition not explicitly set forth in this Agreement shall not be binding on either party.
      Any amendments to this Agreement shall be in writing and signed by the authorized representatives
      of each party.
    </li>
  </ol>

  <ol start=15 type=1>
    <li><span class="bold-text">Technology Specific Term and Use Restrictions</span>.The chart below shows
      by Technology name the Term and any use restriction.
      <table border="1">
        <tr>
          <th>Technology Name</th>
          <th>Term</th>
          <th>Use Restriction</th>
        </tr>
        <tr>
          <td>HP Helion OpenStack ® Community</td>
          <td>90 days</td>
          <td>Evaluation as described</td>
        </tr>
      </table>
    </li>
  </ol>

  <p class="spacer-terms">BY CLICKING I AGREE AND USING THE SOFTWARE YOU INDICATE YOUR ACCEPTANCE OF THIS HP PREVIEW AGREEMENT.
    IF YOU CLICK I DISAGREE AND DO NOT ACCEPT THE HP PREVIEW AGREEMENT,
    THEN YOU ARE NOT GRANTED A LICENSE TO THE SOFTWARE,
    YOU ARE NOT AUTHORIZED TO USE THE SOFTWARE, AND YOU MAY NOT DOWNLOAD THE SOFTWARE.</p>


</div>