<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Terms & Conditions</h4>
</div>
<div class="modal-body sm-body-padding" modal-scrollable>

  <h4 class="spacer-terms">READ CAREFULLY BEFORE DOWNLOADING THE APPLICATION.</h4>

  <p class="spacer-terms" style="text-transform: uppercase">
    This license agreement (the “Agreement”) states the terms between you ("You" or "Your")
    and Hewlett-Packard Company and its subsidiaries (“HP”) for the Application that You download
    from HP’s website (the "Application").
    <span class="bold-text">By downloading, copying, or using the Application You agree to this
      Agreement.  If You do not agree to be bound by the terms of this Agreement, do not click on
      "I Agree" below and do not download, install, copy, or use the Application</span>.
  </p>

  <ol start=1 type=1>
    <li><span class="bold-text">Terms</span>.
      This Agreement includes supporting terms and information referenced by HP, which
      may be Application license information, additional license authorizations, Application
      specifications, published warranties, supplier terms, open source software licenses and
      similar content (“Supporting Material”).  Additional license authorizations are available
      at:  <a class="long-link" href="http://www.hp.com/go/SWLicensing">http://www.hp.com/go/SWLicensing</a>.
    </li>
  </ol>

  <ol start=2 type=1>
    <li><span class="bold-text">Authorization</span>.
      If You agree to this Agreement on behalf of another person or entity, You warrant You have
      authority to do so.  This Agreement will be enforceable against You and any entity for which
      You download, install or use the Product.
    </li>
  </ol>

  <ol start=3 type=1>
    <li><span class="bold-text">Consumer Rights</span>.
      If You obtained the Application as a consumer, nothing in this Agreement affects Your statutory rights.
    </li>
  </ol>

  <ol start=4 type=1>
    <li><span class="bold-text">License Grant</span>.
      As long as You comply with this Agreement, HP grants You a non-exclusive non-transferable license
      to use one copy of the version or release of the Application only for Your organization’s internal
      purposes; such use is subject to any specific Application licensing information located in the
      Application product or its Supporting Material.
      <p/>
      Your use is subject to the following restrictions, unless specifically allowed in Supporting Material:
      <ul>
        <li>You may not use Application to provide services to third parties.</li>
        <li>You may not distribute, resell, share or sublicense Application to third parties.</li>
        <li>You may not download and use patches, enhancements, bug fixes, or similar updates unless You
          have a license to the underlying Application.  Such license does not give You a right to receive
          such updates.</li>
        <li>You may not copy the Application or make it available on a public or external distributed network.</li>
        <li>You may not allow access on an Intranet unless it is restricted to authorized users.</li>
        <li>You may copy the Application for archival purposes or when it is an essential step in authorized
          use so long as You retain any product identification, trademark, copyright or other notices in the Application.</li>
        <li>You may not modify, reverse engineer, disassemble, decrypt, decompile or make derivative works of
          the Application.  If You have a right to do so under law, You must first inform HP in writing about such modifications.</li>
        <li>You may not disclose to any third party performance information or analysis (including, without limitation,
          benchmarks and performance tests) from any source relating to the Application.</li>
        <li>You may not use the Application in a manner inconsistent with the authorizations and restrictions for the
          specific Application found at <a class="long-link" href="http://www.hp.com/go/SWLicensing">http://www.hp.com/go/SWLicensing</a>.</li>
      </ul>
    </li>
  </ol>

  <ol start=5 type=1>
    <li><span class="bold-text">Remote Monitoring</span>.
      Some Application may require keys or other technical protection measures and HP may monitor Your compliance with the
      Agreement, remotely or otherwise.  If HP makes a license management program for recording and reporting license usage
      information, You will use such program no later than 180 days from the date it is made available.
    </li>
  </ol>

  <ol start=6 type=1>
    <li><span class="bold-text">Ownership</span>.
      No transfer of ownership of any intellectual property in the Application and any derivative works thereof will
      occur under this Agreement.  All rights not granted are reserved.
    </li>
  </ol>

  <ol start=7 type=1>
    <li><span class="bold-text">Disclaimer of Warranties</span>.
      THE APPLICATION AND ALL RELATED COMPONENTS ARE PROVIDED "AS IS." TO THE FULL EXTENT PERMITTED BY LAW, HP AND ITS
      SUPPLIERS MAKE NO OTHER WARRANTIES, CONDITIONS, REPRESENTATIONS OR UNDERTAKINGS, EXPRESS OR IMPLIED, STATUTORY,
      LEGAL OR OTHERWISE, INCLUDING BUT NOT LIMITED TO WARRANTIES OF QUALITY, MERCHANTABILITY, TITLE, FITNESS FOR A
      PARTICULAR PURPOSE OR NON-INFRINGEMENT, AND ANY OTHER WARRANTIES ARISING OUT OF COURSE OF DEALING, USAGE OR TRADE.
    </li>
  </ol>

  <ol start=8 type=1>
    <li><span class="bold-text">Intellectual Property Rights Infringement</span>.
      HP will defend and/or settle any claims against You that allege that HP-branded Application as supplied under
      this Agreement infringes the intellectual property rights of a third party.  HP will rely on Your prompt
      notification of the claim and cooperation with our defense.  HP may modify the Application so as to be
      non-infringing and materially equivalent, or we may procure a license. If these options are not available,
      we will refund to You the amount paid for the affected product in the first year or the depreciated value
      thereafter. HP is not responsible for claims resulting from any unauthorized use of the Application.
    </li>
  </ol>

  <ol start=9 type=1>
    <li><span class="bold-text">Limitation of Liability</span>.
      HP’s liability to You under this Agreement is limited to the amount actually paid by You to HP for the relevant
      Application, except for amounts in Section 9 (“Intellectual Property Rights Infringement”).   Neither You nor HP
      will be liable for lost revenues or profits, downtime costs, loss or damage to data or indirect, special or
      consequential costs or damages. This provision does not limit either party’s liability for: unauthorized use
      of intellectual property, death or bodily injury caused by its negligence; acts of fraud; willful repudiation
      of the Agreement; or any liability that may not be excluded or limited by applicable law.
    </li>
  </ol>

  <ol start=10 type=1>
    <li><span class="bold-text">Termination</span>.
      This Agreement is effective until terminated or in the case of a limited-term license, upon expiration;
      however, Your rights under this Agreement terminate if You fail to comply with it.  Immediately upon
      termination or expiration, You will destroy the Application and documentation and any copies, or return
      to them to HP.  You may keep one copy of Application and documentation for archival purposes.  We may ask
      You to certify in writing that You have complied with this section.   Section 7 (“Disclaimer of Warranties”),
      Section 8 (“Intellectual Property Rights Infringement”), Section 9 (”Limitation of Liability), this termination
      provision, and Section 11 (“General”) each survive termination.
    </li>
  </ol>

  <ol start=11 type=1>
    <li><span class="bold-text">General</span>.
      <p/>
      a. <span class="underline">Assignment</span>.  You may not assign this Agreement without prior written consent
      of HP, payment of transfer fees and compliance with HP’s Application license transfer policies.  Authorized
      assignments will terminate Your license to the Application and You must deliver Application and documentation
      and copies thereof to the assignee.  You must first obtain the assignee’s agreement in writing to comply with
      this Agreement.  You may only transfer firmware if You transfer associated hardware.
      <p/>
      b.  <span class="underline">U.S. Government</span>.  If the Application is licensed to You for use in the
      performance of a U.S. Government prime contract or subcontract, You agree that, consistent with FAR 12.211
      and 12.212, commercial computer Application, computer Application documentation and technical data for commercial
      items are licensed under HP’s standard commercial license.
      <p/>
      c.  <span class="underline">Global Trade Compliance</span>. You agree to comply with the trade-related laws and
      regulations of the U.S. and other national governments. If you export, import or otherwise transfer products
      provided under this Agreement, you will be responsible for obtaining any required export or import authorizations.
      You confirm that you are not located in a country that is subject to trade control sanctions (currently Cuba,
      Iran, N. Korea, N. Sudan, and Syria) and further agree that you will not retransfer the products to any such country.
      HP may suspend its performance under this Agreement to the extent required by laws applicable to either party.
      <p/>

      d. <span class="underline">Audit</span>.  HP may audit You for compliance with the Application license terms.
      Upon reasonable notice, HP may conduct an audit during normal business hours (with the audit cost at HP’s expense).
      If an audit reveals underpayments then You will promptly pay to HP such underpayments.  If underpayments exceed five
      (5) percent, You will reimburse HP for the audit costs.
      <p/>

      e. <span class="underline">Governing Law</span>.  This Agreement will be governed by the laws of the state of
      California, U.S.A., excluding rules as to choice and conflicts of law. You and HP agree that the United Nations
      Convention on Contracts for the International Sale of Goods will not apply.
      <p/>

      f. <span class="underline">Force Majeure</span>. Neither party will be liable for performance delays or for
      non-performance due to causes beyond its reasonable control, except for payment obligations.
      <p/>

      g. <span class="underline">Entire Agreement</span>. This Agreement represents the entire understanding with
      respect to its subject matter and supersedes any previous communication or agreements that may exist.
      Modifications to the Agreement will be made only through a written amendment signed by both parties.
      If HP doesn’t exercise its rights under this Agreement, such delay is not a waiver of its rights.
      <p/>
    </li>
  </ol>

  <ol start=12 type=1>
    <li><span class="bold-text">Australian Consumers</span>.
      If you acquired the Application as a consumer within the meaning of the 'Australian Consumer Law' under the
      Australian Competition and Consumer Act 2010 (Cth) then despite any other provision of this Agreement, the terms
      at this URL apply: <a class="long-link" href="http://www.hp.com/go/SWLicensing">http://www.hp.com/go/SWLicensing</a>.
    </li>
  </ol>

  <br>

  <h4 class="spacer-terms">HP VERTICA MARKETPLACE APP CATALOG END-USER TERMS AND CONDITIONS</h4>

  <p class="spacer-terms">
    THE FOLLOWING TERMS AND CONDITIONS (“<span class="bold-text">AGREEMENT</span>”) APPLY TO YOUR USE OF THEHP VERTICA
    MARKETPLACE APP CATALOG (“<span class="bold-text">APP CATALOG</span>”), AND YOUR USE OF APPLICATIONS
    (EACH, AN “<span class="bold-text">APPLICATION</span>”) MADE AVAILABLE IN SUCH APP CATALOG. BEFORE USING, DOWNLOADING
    FROM OR OTHERWISE ACCESSING THE APP CATALOG OR ANY APPLICATION, CAREFULLY READ THIS AGREEMENT. THE APPLICATIONS
    PROVIDED THROUGH THE APP CATALOG ARE LICENSED BY THE PROVIDER OF THE APPLICATION (“<span class="bold-text">APPLICATION
    PROVIDER</span>”) TO YOU, THE ORIGINAL END USER, SOLELY FOR YOUR PERSONAL USE AS SET FORTH BELOW AND SUBJECT TO THE
    APPLICABLE END-USER LICENSE AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, DO NOT USE,
    DOWNLOAD OR OTHERWISE ACCESS THE APP CATALOG. USING, DOWNLOADING, OR OTHERWISE ACCESSING ANY PART OF THE APP CATALOG
    INDICATES THAT YOU ACCEPT THESE TERMS.  YOU MUST BE AT LEAST 13 (THIRTEEN) YEARS OF AGE TO USE OR ACCESS THE APP CATALOG.
    IF YOU ARE AT LEAST 13 BUT UNDER THE AGE OF 18, YOU MUST HAVE YOUR PARENT OR LEGAL GUARDIAN’S PERMISSION TO USE OR
    ACCESS THE APP CATALOG.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">APPLICATION LICENSE AGREEMENT</span>:
    Your use of each Application that you download through the App Catalog is governed by the terms of the
    Application License Agreement between you and the Application Provider (the “<span class="bold-text">Application
    License Agreement</span>”) set forth below.  If the Application Provider provides an End-User License Agreement
    (“<span class="bold-text">EULA</span>”) with the Application, those terms shall supplement the Application License
    Agreement.  As between you and the Application Provider, any additional or different terms in such EULA shall take
    precedence over the terms in the Application License Agreement.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">HP’S ROLE IN PROVIDING APPLICATIONS</span>:
    You agree that the license granted for each Application is a binding agreement between you and the Application
    Provider only. The Application Provider is solely responsible for that Application, the content therein, any
    warranties to the extent that such warranties have not been disclaimed, and any claims relating to that Application.
    You acknowledge that HP is acting as agent for the Application Provider in providing each Application to you and is
    not a party to the license between you and the Application Provider. HP is not responsible for any Application,
    the content therein, or any warranties or claims that you or any other party may have relating to that Application.
  </p>

  <p class="spacer-terms">
    You further acknowledge and agree that HP is a third party beneficiary of the Application License Agreement and,
    any EULA, if so provided. You acknowledge and agree that HP will have the right (and will be deemed to have accepted
    the right) to enforce such license against you as a third party beneficiary of those agreements.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">RESTRICTIONS</span>: You agree that HP and/or third parties own all right, title and interest
    in and to the App Catalog and all Applications (including all copyrights and trademarks relating thereto).
    Each Application is licensed for use only for a single HP account, and you may not distribute or make the Application
    available over a network or for use with multiple devices. You may not modify or alter the Application in any way,
    and may only use the Application as expressly set forth above and as set forth in the applicable end-user agreement
    for the Application.  You agree that you will not attempt to, or assist or encourage any other person or entity to
    circumvent, disable or modify any security technology or software that is part of the Application or is used on
    your HP device.  Except as set forth above, HP and the Application Providers reserve all other rights in or to the
    Application.  If applicable law permits you to copy or modify the Application, then you may copy and modify the
    Application solely to the extent, and for such purposes as, expressly permitted by applicable law.  You agree that
    you will not engage in any activity that interferes with or disrupts the App Catalog or services available through
    Applications you have downloaded.  You further agree that you will not use any Applications you download to interfere
    with or otherwise disrupt any servers, networks, websites or services.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">HP HAS THE RIGHT TO MODIFY, CHANGE OR TERMINATE YOUR USE OF THE APP CATALOG OR APPLICATIONS FOUND
      IN THE APP CATALOG</span>:  HP reserves the right, at its sole discretion and at any time, to add, remove, disable access
    to, block, or modify the App Catalog, and to add, remove, disable access to, block, or modify remotely any Applications
    previously downloaded to your device from the App Catalog.    HP may be required to take these actions due to changes
    in the obligations or restrictions from its third party licensors or partners, an Application Provider’s serious
    violation of its agreement with HP, or due to any governmental restriction or court order.  HP may also impose limits
    on the use of or access to certain features or portions of the App Catalog or Applications downloaded from the App
    Catalog, in any case and without notice or liability.   If HP removes, disables access to, or otherwise blocks you
    from accessing an Application, you will need to contact the Application Provider for further action.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">HP HAS THE RIGHT TO MODIFY THESE TERMS</span>:  HP reserves the right to modify the terms
    of this Agreement at its sole discretion at any time.  Any such modification will be effective upon HP notifying
    you prior to your continued use or access of the App Catalog.  Your continued use of the App Catalog after such
    notice will constitute your binding acceptance of the Agreement as revised.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">CUSTOMER SERVICE</span>: HP does not provide support for Applications, and the Application
    Provider is responsible for providing such support.  For any issues or questions concerning specific Applications,
    please contact the Application Provider.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">CONTENT ACCESSED THROUGH APPLICATIONS</span>: You acknowledge and agree that certain
    Applications may provide access to products, services, web content or other third-party materials (together,
    “<span class="bold-text">Third-Party Content</span>”) and that HP is not responsible for such Third-Party Content.
    HP makes no representations or warranties regarding such Third-Party Content.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">REVIEWS</span>:  HP, in its sole discretion, may permit users to post reviews of Applications
    on the App Catalog.  Such reviews reflect the opinions of the reviewers and not HP, and HP makes no representations as
    to the accuracy or completeness of the reviews.  You agree that HP shall have no liability to you if you rely on the
    reviews to download or use an Application.  HP reserves the right to, but has no obligation to, remove reviews that
    HP deems irrelevant or otherwise inappropriate for any reason.  If you post a review, you hereby grant HP a perpetual,
    worldwide, fully transferable and sub-licensable, irrevocable, royalty-free license to make, use, sell, market, reproduce,
    create derivative works of, distribute, perform, and display the review in any manner and for any purpose.  You acknowledge
    that your personally identifiable information may be associated with your review unless you post the review anonymously.
    If you post a review, you agree not to post, publish or transmit any material that: (i) is false or misleading; (ii) is
    defamatory; (iii) invades another’s privacy; (iv) is obscene, pornographic, or offensive; (v) promotes bigotry, racism,
    hatred or harm against any individual or group; (vi) infringes on another’s rights, including but not limited to any
    intellectual property rights; or (vii) violates, or encourages any conduct that would violate any applicable law or
    regulation or would give rise to civil liability.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">CONSENT TO USE OF DATA</span>: You agree that HP, its affiliates and designated agents may collect
    and use technical and related information, gathered in any manner, related to the App Catalog.  This includes the use of
    Google Analytics or other analytics tools for the collection of anonymous usage information, which helps HP understand how
    visitors engage with the application catalog. HP, its affiliates and designated agents may use this information solely to
    improve its products or to provide customized services or technologies to you. HP will collect and use this information in
    accordance with its privacy policy and in accordance with applicable data protection laws. HP, its affiliates and designated
    agents may disclose this information to others, but not in a form that personally identifies you.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">REVERSE ENGINEERING</span>: You may not reverse engineer, decompile, or disassemble the App Catalog
    or any Applications downloaded from the App Catalog, except and only to the extent that such activity is expressly permitted
    by applicable law.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">INDEMNIFICATION</span>:  To the maximum extent permitted by law, you agree to defend, indemnify and
    hold HP, its directors, officers, employees, affiliates and agents (including without limitation its parent company,
    Hewlett-Packard Company (“<span class="bold-text">HP</span>”) and its directors, officers, employees, affiliates and agents)
    harmless from and against any and all claims arising out of your breach of this Agreement, your use of the App Catalog, or
    your use of any Applications downloaded from the App Catalog.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">WARRANTY AND DISCLAIMERS</span>: TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, YOU EXPRESSLY
    ACKNOWLEDGE AND AGREE THAT USE OF THE APP CATALOG IS AT YOUR SOLE RISK AND THAT ACCESS TO THE APP CATALOG IS PROVIDED TO YOU
    ON AN “AS IS” AND “AS AVAILABLE” BASIS AND WITHOUT ANY WARRANTY OF ANY KIND OR NATURE. HP DOES NOT WARRANT THAT USE OF THE APP
    CATALOG WILL BE UNINTERRUPTED, FAULT-TOLERANT OR ERROR FREE.  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, HP AND ITS
    SUPPLIERS EXPRESSLY DISCLAIM ANY IMPLIED OR STATUTORY WARRANTIES, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, TITLE, ACCURACY, CORRESPONDENCE WITH DESCRIPTION, SATISFACTORY QUALITY AND NON-INFRINGEMENT.  HP MAKES
    NO WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, WITH REGARD TO ANY THIRD PARTY SOFTWARE OR OPEN SOURCE SOFTWARE.  ALL
    THIRD PARTY SOFTWARE AND OPEN SOURCE SOFTWARE IS PROVIDED "AS-IS," WITHOUT WARRANTIES OF ANY KIND BY HP.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">LIMITATION OF LIABILITY</span>: HP or Application Provider’s liability to you under this Agreement is
    limited to the amount actually paid by you to HP for the Application(s). Neither you nor HP nor its Application Providers will
    be liable for lost revenues or profits, downtime costs, loss or damage to data or indirect, special or consequential costs or
    damages. This provision does not limit HP’s, Application Provider’s or your liability for: unauthorized use of intellectual
    property, death or bodily injury caused by their negligence; acts of fraud; willful repudiation of the Agreement; or any
    liability that may not be excluded or limited by applicable law.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">GLOBAL TRADE COMPLIANCE</span>:  You agree to comply with the trade-related laws and regulations of
    the U.S. and other national governments. If you export, import or otherwise transfer Applications provided under this Agreement,
    you will be responsible for obtaining any required export or import authorizations. You confirm that you are not located in a
    country that is subject to trade control sanctions (currently Cuba, Iran, N. Korea, N. Sudan, and Syria) and further agree that
    you will not retransfer the Applications to any such country. HP may suspend its performance under this Agreement to the extent
    required by laws applicable to either party.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">TERM AND TERMINATION</span>: This Agreement is effective until terminated. HP may terminate this Agreement
    in whole or as it applies to your use of any Application if you breach any of the terms of this Agreement.  You may terminate it
    at any time by ceasing to use the App Catalog, provided that any terms relating to your use of each Application will survive unless
    and until you destroy all copies of such Application and related documentation.   Some jurisdictions do not allow the termination
    of this type of Agreement, so the above provision may be limited in its application to you. In addition, HP reserves the right to
    modify, suspend, or discontinue the App Catalog (or any part or content thereof) at any time with or without notice to you, and HP
    will not be liable to you or to any third party should it exercise such rights.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">GOVERNING LAW</span>. This Agreement will be governed by the laws of the state of California, U.S.A.,
    excluding rules as to choice and conflict of law. You and HP agree that the United Nations Convention on Contracts for the
    International Sale of Goods will not apply.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">ENFORCEMENT OF AGREEMENT</span>. HP reserves the right to takes any steps it believes to be reasonably
    necessary or appropriate to enforce and/or verify compliance with any part of this Agreement. You agree that HP has the right,
    without liability to you, to disclose any information relating to your use of the App Catalog to law enforcement authorities,
    government officials, and/or a third party, as HP believes is reasonably necessary or appropriate to enforce and/or verify compliance
    with any part of this Agreement.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">ENTIRE AGREEMENT</span>. This Agreement Represents our entire understanding with respect to its subject
    matter and supersedes any previous communication or agreements that may exist.
  </p>

  <p class="spacer-terms">
    Modifications to the Agreement will be made only through a written amendment signed by both parties. If HP doesn't exercise its
    rights under this Agreement, such delay is not a waiver of its rights.
  </p>

  <br>

  <h4 class="spacer-terms">APPLICATION LICENSE AGREEMENT</h4>

  <p class="spacer-terms">
    THE FOLLOWING TERMS AND CONDITIONS APPLY TO YOUR USE OF EACH APPLICATION YOU DOWNLOAD FROM THE APP CATALOG
    (EACH, AN “<span class="bold-text">APPLICATION</span>”).  BEFORE USING ANY APPLICATION, CAREFULLY READ THIS
    AGREEMENT.
  </p>

  <p class="spacer-terms">
    The license granted hereunder is granted to you by the provider of the Application (“<span class="bold-text">Application Provider</span>”)
    and not by HP, Inc. (“<span class="bold-text">HP</span>”).  If the Application Provider provides an End User License Agreement
    (“<span class="bold-text">EULA</span>”) with the Application, those terms shall supplement this Application License Agreement.
    As between you and the Application Provider, any additional or different terms in such EULA shall take precedence over the
    terms in this Application License Agreement.
  </p>

  <p class="spacer-terms">
    You acknowledge and agree that HP is a third party beneficiary of this Application License Agreement and any EULA, if so provided.
    You acknowledge and agree that HP will have the right (and will be deemed to have accepted the right) to enforce such license against
    you as a third party beneficiary of those agreements.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">LICENSE GRANT</span>:  You are hereby granted a limited, non-transferable license to use the Application for
    a single HP account that you control.  You may not rent, lease, lend, sell, redistribute or sublicense the Application.  You may not
    reverse engineer, decompile, or disassemble the Application, except and only to the extent that such activity is expressly permitted
    by applicable law.  Any attempt to do so is a violation of the rights of the Application Provider.  If you breach this restriction,
    you may be subject to prosecution and damages. The terms of the license will govern any upgrades provided by the Application Provider
    that replace and/or supplement the original Application, unless such upgrade is accompanied by a separate license in which case the
    terms of that license will govern.  The Application Provider reserves all rights in and to the Application not expressly granted to
    you under this Application License Agreement.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">CONSENT TO USE OF DATA</span>:  You agree that the Application Provider may collect and use technical and
    related information, gathered in any manner related to the Application. The Application Provider may use this information solely
    to improve its products or to provide customized services or technologies to you.  The Application Provider may disclose this
    information to others, but not in a form that personally identifies you.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">NO WARRANTY</span>:  YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE APPLICATION IS AT YOUR SOLE RISK
    AND THAT ACCESS TO THE APPLICATION IS PROVIDED TO YOU ON AN “AS IS” AND “AS AVAILABLE” BASIS AND WITHOUT ANY WARRANTY OF ANY KIND OR
    NATURE. THE APPLICATION PROVIDER DOES NOT WARRANT THAT USE OF THE APPLICATION WILL BE UNINTERRUPTED, FAULT-TOLERANT OR ERROR FREE.
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE APPLICATION PROVIDER EXPRESSLY DISCLAIMS ANY IMPLIED OR STATUTORY WARRANTIES,
    INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, ACCURACY, CORRESPONDENCE WITH DESCRIPTION, SATISFACTORY
    QUALITY AND NON-INFRINGEMENT.  THE APPLICATION PROVIDER MAKES NO WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, WITH REGARD TO ANY
    THIRD PARTY SOFTWARE OR OPEN SOURCE SOFTWARE.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">LIMITATION OF LIABILITY</span>:  Application Provider’s liability to you under this Agreement is
    limited to the amount actually paid by you to HP for the Application(s). Neither you nor Application Provider will be liable
    for lost revenues or profits, downtime costs, loss or damage to data or indirect, special or consequential costs or damages.
    This provision does not limit either party's liability for: unauthorized use of intellectual property, death or bodily injury
    caused by their negligence; acts of fraud; willful repudiation of the Agreement; or any liability that may not be excluded or
    limited by applicable law.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">GLOBAL TRADE COMPLIANCE</span>:  You agree to comply with the trade-related laws and regulations of
    the U.S. and other national governments. If you export, import or otherwise transfer Applications provided under this Agreement,
    you will be responsible for obtaining any required export or import authorizations. You confirm that you are not located in a
    country that is subject to trade control sanctions (currently Cuba, Iran, N. Korea, N. Sudan, and Syria) and further agree that
    you will not retransfer the Applications to any such country. HP may suspend its performance under this Agreement to the extent
    required by laws applicable to either party.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">TERM AND TERMINATION</span>:  The license is effective until terminated by you or the Application Provider.
    Your rights under this license will terminate automatically without notice from the Application Provider if you fail to comply
    with any term(s) of this license. Upon termination of the license, you shall cease all use of the Application, and destroy all
    copies, full or partial, of the Application, including any accompanying documentation.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">U.S. GOVERNMENT</span>: spanIftheApplication is licensed to You for use in the performance of a U.S.
    Government prime contract or subcontract, You agree that,consistentwithFAR 12.211 and 12.212, commercial computer software,
    computer software documentation and technical data for commercial items are licensedunder Application Provider’s standard
    commercial license.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">GOVERNING LAW</span>:  This Agreement will be governed by the laws of the state of California, U.S.A.,
    excluding rules as to choice and conflicts of law. You and Application Provider agree that the United Nations Conventionon
    Contracts for the International Sale of Goods will not apply.
  </p>

  <p class="spacer-terms">
    <span class="bold-text">ENTIRE AGREEMENT</span>: This Agreement represents the entire understanding with respect to its subject
    matter and supersedes any previous communication or agreements that may exist. Modifications to the Agreement will be made only
    through a written amendment signed by both parties.  If Application Provider doesn't exercise its rights under this Agreement,
    such delay is not a waiver of its rights.
  </p>

  <br>

  <h4 class="spacer-terms">HP VERTICA INNOVATIONS PROGRAM AGREEMENT</h4>

  <p class="spacer-terms">
    This agreement (this “<span class="bold-text">Agreement</span>”) is entered into by and between Hewlett-Packard Company
    (“<span class="bold-text">HP</span>”) and you as an individual or, in the case of an entity, your authorized representative,
    on your behalf (“<span class="bold-text">you</span>”) as of the date you accept the terms of this Agreement
    (“<span class="bold-text">Effective Date</span>”). The terms and conditions of this Agreement apply to your participation
    in HP Vertica’s Innovations Program (“<span class="bold-text">Program</span>”).
  </p>

  <ol start=1 type=1>
    <li><span class="bold-text">Products/Materials</span>.
      Subject to the terms and conditions of this Agreement, HP shall provide to you at no charge the (a) prototypes of either
      new products or services or new releases of existing products or services (collectively the “<span class="bold-text">Products</span>”),
      and (b) materials related to the Products, including documentation, presentations or other media
      (collectively, the “<span class="bold-text">Materials</span>”).
    </li>
  </ol>

  <ol start=2 type=1>
    <li><span class="bold-text">Term and Termination</span>.
      The term of this Agreement (“<span class="bold-text">Term</span>”) begins on the Effective Date and is effective
      until terminated or in the case of a limited license, until expiration. Your rights under this Agreement terminate
      if you fail to comply with it. HP may terminate this Agreement immediately at any time in its sole discretion.
      Sections 2, 5, and 7-17 shall each survive expiration or termination of this Agreement.
    </li>
  </ol>

  <ol start=3 type=1>
    <li><span class="bold-text">Installation</span>.
      You shall comply with any installation requirements provided by HP.
    </li>
  </ol>

  <ol start=4 type=1>
    <li><span class="bold-text">Product Use</span>.
      Subject to the terms and conditions of this Agreement, HP grants to you a personal, non-transferable, non-sublicenseable,
      limited, revocable, non-exclusive royalty free license to internally use and test the Product and Materials during the
      Term for non-production testing and evaluation purposes only. Except where the terms of an open source license governing
      open source code which may be included in the Product and Materials specifically provides that the open source code cannot
      be licensed under other terms, terms of this Agreement shall govern with regard to that open source code; otherwise, your
      use of the Product and Materials is further subject to any third party license terms found in or accompanying the Products and Materials.
    </li>
  </ol>

  <ol start=5 type=1>
    <li><span class="bold-text">Restrictions on Use</span>.
      You shall not use the Product or Materials in any manner to produce, market, or support your own products or business.
      You acknowledge that the Product and Materials may contain bugs or defects. Your right to use the Products or Materials
      is specifically limited to the rights as described in this Agreement. Except as permitted by law, you shall not reverse
      engineer, disassemble, decompile, copy, distribute or modify the Products and Materials or provide access to the Products
      and Materials to a third party.
    </li>
  </ol>

  <ol start=6 type=1>
    <li><span class="bold-text">Technical Support</span>.
      HP is not required to provide you with technical support. Any technical support HP does provide to you shall be at
      HP’s sole discretion and is provided “As Is.”
    </li>
  </ol>

  <ol start=7 type=1>
    <li><span class="bold-text">Title</span>.
      All right, title, and interest to all intellectual property and related intellectual property rights with respect to
      the Product and Materials, including that which may be or become protectable by patent, copyright, trademark, trade
      secret, or similar laws, shall remain exclusively with HP or its suppliers. This Agreement confers no title or ownership
      and is not a sale of any rights in any current or future HP products or services.
    </li>
  </ol>


  <ol start=8 type=1>
    <li><span class="bold-text">Return of Products</span>.
      At the expiration or termination of this Agreement, You shall promptly return to HP or destroy all copies of the Product
      and/or Materials in Your possession.  HP may ask You to certify in writing that You have complied with this section within
      ten business days of such request from HP.
    </li>
  </ol>

  <ol start=9 type=1>
    <li><span class="bold-text">Disclaimer of Warranties</span>.
      The Products and Materials are provided “As Is.” YOU ACKNOWLEDGE THAT THE PRODUCTS AND MATERIALS HAVE NOT COMPLETED HP'S
      FULL QUALITY ASSURANCE PROGRAM AND MAY HAVE ERRORS OR DEFECTS.  HP MAKES NO EXPRESS OR IMPLIED WARRANTY OF ANY KIND WITH
      RESPECT TO THE PRODUCTS AND MATERIALS, AND SPECIFICALLY DISCLAIMS THE IMPLIED WARRANTIES OF MERCHANTABILITY, SATISFACTORY
      QUALITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
    </li>
  </ol>

  <ol start=10 type=1>
    <li><span class="bold-text">Future Availability</span>.
      HP may at any time and without notice choose not to release a final Product or Materials or, even if released, to alter
      prices, features, specifications, capabilities, functions, release dates, general availability, or other characteristics
      of the Product or Materials.
    </li>
  </ol>

  <ol start=11 type=1>
    <li><span class="bold-text">Limitation of Liability</span>.
      TO THE FULLEST EXTENT PERMITTED UNDER LAW, HP WILL HAVE NO OBLIGATION OR LIABILITY (WHETHER ARISING IN CONTRACT, WARRANTY,
      TORT, NEGLIGENCE, PRODUCT LIABILITY, OR OTHERWISE) FOR ANY DIRECT, INCIDENTAL, INDIRECT, PUNITIVE, SPECIAL, OR CONSEQUENTIAL
      DAMAGES OR LIABILITIES (INCLUDING LOST PROFITS, LOSS OF INCOME, REVENUE,  GOODWILL, REPUTATION OR SAVINGS, LOSS OR
      UNAVAILABILITY OF OR DAMAGE TO DATA OR SOFTWARE RESTORATION), EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR
      LIABILITIES, ARISING UNDER THIS AGREEMENT.
    </li>
  </ol>

  <ol start=12 type=1>
    <li><span class="bold-text">Intellectual Property Rights</span>.
      No rights in copyright, patents, trademarks, trade secrets, or other intellectual property rights are granted by either
      party to the other except as expressly provided under this Agreement.  You agree that HP shall have, and you shall assign
      to HP, all right, title and interest in and to any feedback, Product test results or suggestions regarding the Product or
      Materials (“<span class="bold-text">Feedback</span>”).  HP at its discretion, may choose not to use or implement any Feedback
      in the Product or Materials. You shall not register or use any mark or internet domain name that contains HP’s trademarks.
    </li>
  </ol>

  <ol start=13 type=1>
    <li><span class="bold-text">Confidentiality of Information</span>.
      You acknowledge and agree that all information pertaining to the Product and Materials are HP’s proprietary and confidential
      information. As such, you shall protect the confidentiality of such information until such information is made  public by HP,
      using the same degree of care, but no less than a reasonable degree of care, to prevent the unauthorized use, dissemination,
      or publication of such information as parties use to protect their own confidential information of a like nature.  You shall
      not make public any information, reports or test results obtained pursuant to this Agreement.
    </li>
  </ol>

  <ol start=14 type=1>
    <li><span class="bold-text">Assignment</span>.
      You may not assign this Agreement without prior written consent of HP.  Authorized assignments will terminate your license.
      You must first obtain the assignee’s agreement in writing to comply with this Agreement.
    </li>
  </ol>

  <ol start=15 type=1>
    <li><span class="bold-text">Governing Law</span>.
      This Agreement will be governed by the laws of the state of California, U.S.A., excluding rules as to choice and conflicts
      of law. You and HP agree that the United Nations Convention on Contracts for the International Sale of Goods will not apply.
    </li>
  </ol>

  <ol start=16 type=1>
    <li><span class="bold-text">Global Trade Compliance</span>.
      You agree to comply with the trade-related laws and regulations of the U.S. and other national governments. You agree not
      to export, import or otherwise transfer Products and Materials provided under this Agreement, except as authorized under
      this Agreement and that you will be responsible for obtaining any required export or import authorizations. You confirm
      that you are not located in a country that is subject to trade control sanctions (currently Cuba, Iran, N. Korea, N. Sudan,
      and Syria) and further agree that you will not retransfer the Products and Materials to any such country. HP may suspend
      its performance under this Agreement to the extent required by laws applicable to either party.
    </li>
  </ol>

  <ol start=17 type=1>
    <li><span class="bold-text">Entire Agreement</span>.
      This Agreement represents the entire understanding with respect to the Products and Materials and supersedes any previous
      communication or agreements that may exist.  Modifications to the Agreement will be made only through a written amendment
      signed by both parties.  If HP doesn’t exercise its rights under this Agreement, such delay is not a waiver of its rights.
      In the event any provision of this Agreement is held invalid or unenforceable the remainder of the Agreement will remain
      enforceable and unaffected thereby.
    </li>
  </ol>

  <br/>
</div>


