<script id="idm-wizard.html" type="text/ng-template">
<div class="gramidcontainer">
  <section>
    <span class="logo"></span><span class="topright"><a id="loginLnk" href="" ng-click="$parent.idmRedirectTo('/')">Sign in</a> using HP Web ID</span>
  </section>

  <span class="hr"></span>

  <section>
    <form name="resetForm">
      <div ng-transclude></div>
    </form>
  </section>

  <span class="hr"></span>
  <section>
    <div class="half">&nbsp;</div>
    <div class="half">
      <div class="right">
        <button class="btn-hp btn-RL" ng-disabled="resetForm.$invalid" ng-click="$parent.webIdResetPassword()" ng-show="hasNext()">Submit</button>
      </div>
    </div>
  </section>
</div>
</script>

<div ng-init="resetPassword = {}; loadEmailFromToken();">
  <idm-wizard name="resetWiz" form-name="resetForm" current-step-index="currentStepIndex">
    <idm-step step-title="To reset your password, we need to verify your HP Web ID.">
      <section>
        <p>Please enter your HP Web ID:</p>
      </section>
      <section>
        <input name="email" type="email" ng-model="resetPassword.email" placeholder="email" ng-required="currentStepIndex == 0" ng-readonly="emailReadonly" idm-validator="email"/>
      </section>
    </idm-step>
    <idm-step step-title="A verification email has been sent to your email address. Please follow the link on the email message to continue. ">
      <section>
        <p>Click <a href="" ng-click="idmRedirectTo('/')">here</a> to sign in again.</p>
      </section>
    </idm-step>
  </idm-wizard>
</div>