<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">What is HP Web ID?</h4>
</div>
<div class="modal-body sm-body-padding" modal-scrollable="80">
  An HP Web ID account is a single email and password used to log into
  all websites and mobile apps that use HP Web ID. Our goal is to make
  websites and mobile apps easier and safer to use. Instead of having
  to remember unique usernames and passwords for each site, just remember
  your HP Web ID, and you're in. HP Web ID simplifies your life and
  ensures your security and privacy.
  <h4>HP Web ID is easy</h4>
  HP Web ID stores your country and language preferences so that each
  app automatically adopts your settings when you use them.

  <h4>HP Web ID is secure</h4>
  The HP Web ID login screen is presented directly by HP so no one, not
  even the app or website that you are trying to use, ever sees your
  password. And, HP Web ID follows strict HP privacy policies to ensure
  your information remains secure.

</div>
