<div ng-controller="ProductRoleController" ng-init="initProductRoles()">

  <div class="row spacer-between">
    <div class="col-md-4">
      <select class="form-control" ng-model="selectedProduct" ng-options="p.name for p in products | orderBy:'name'" ng-change="loadProductRoles()">
        <option value="">- Select Product -</option>
      </select>
    </div>
    <div class="col-md-4">
      <idm-search-box criteria="productRoleCriteria" placeholder="Search by role name" on-search="searchProductRoles(productRoleCriteria)" search-disabled="isEmpty(selectedProduct)" />
    </div>
    <div class="col-md-3 pull-right">
      <span class="spacer-between-xs hidden-lg"></span>
      <button ng-click="addProductRole()" class="btn-hp btn-large pull-right" ng-disabled="isEmpty(selectedProduct)"><span class="span glyphicon glyphicon-plus"></span> Add Product Role</button>
    </div>
  </div>

  <div>
    <table class="table table-hover idm-table">
      <thead>
        <tr>
          <th>Role Name</th>
          <th class="hidden-xs">Description</th>
          <th class="ico_btn">Manage</th>
        </tr>
      </thead>
      <tbody ng-repeat="role in pageProductRoles">
        <tr>
          <td>{{role.role.name}}</td>
          <td class="hidden-xs">{{role.role.description}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="javascript:void(0);" ng-click="updateProductRole(role)"><span class="glyphicon glyphicon-wrench"></span> Update</a></li>
                <li><a href="javascript:void(0);" ng-click="assignServiceRoles(role)"><span class="glyphicon glyphicon-plus"></span> Assign Service Role</a></li>
                <li><a href="javascript:void(0);" ng-click="deleteProductRole(role)"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <hr/>
  <idm-pager on-select-page="setProductRolePage(page)" match-items="matchProductRoles" />

</div>

<script id="views/roles/productRole-dlg.html" type="text/ng-template">
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">{{data.title || 'Create Product Role'}}</h4>
</div>
<div class="modal-body">
  <h4 class="idm-dialog-title">Product Role Information</h4>
  <form name="PRForm" role="form">
    <div class="form-group">
      <label for="">Product Name</label>
      <p class="form-control-static">{{data.product.name}}</p>
    </div>
    <div class="form-group">
      <label for="">Role Name</label>
      <input name="roleName" type="text" class="form-control" ng-model="data.role.name" idm-model-fixer ng-maxlength="100" required="required">
      <p class="alert alert-info" ng-show="PRForm.roleName.$dirty && PRForm.roleName.$error.maxlength">Please enter no more than 100 characters.</p>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <input name="description" type="text" class="form-control" ng-model="data.role.description" idm-model-fixer ng-maxlength="300">
      <p class="alert alert-info" ng-show="PRForm.description.$dirty && PRForm.description.$error.maxlength">Please enter no more than 300 characters.</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="reset" ng-click="cancel()" class="btn btn-hp btn-2nd">Cancel</button>
  <button type="submit" ng-click="save()" class="btn btn-hp" ng-disabled="PRForm.$invalid">Submit</button>
</div>
</script>


<script id="views/roles/productRole-serviceRole-dlg.html" type="text/ng-template">
<div class="modal-header" ng-init="initDialog()">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Assign Service Roles</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="">Product Role Name</label>
      <p class="form-control-static">{{data.role.name}}</p>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <p class="form-control-static">{{data.role.description}}</p>
    </div>
    <div class="form-group">
      <label for="">Assigned Service Roles</label>
      <!-- idm-multi-check repeat-model="assignedRoles" check-model="data.toBeRemovedRoles" model-id="role.id" model-name="role.name" criteria="assignedCriteria" search-hint="Filter by role name"></idm-multi-check -->
      <select class="form-control idm-multi-select" ng-model="data.toBeRemovedRoles" ng-options="r.role.name for r in assignedRoles | orderBy:'role.name'" size="8" multiple="multiple" />
    </div>
    <div class="form-group text-center">
      <button type="button" class="btn btn-default spacer-between-xs idm-multi-check-all-clear" ng-click="assignRoles()">Assign <span class="glyphicon glyphicon-chevron-up"></span></button>
      <span class="spacer-fb"></span>
      <button type="button" class="btn btn-default spacer-between-xs idm-multi-check-all-clear" ng-click="removeRoles()">Remove <span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <div class="form-group">
      <label for="">Services</label>
      <select class="form-control idm-multi-check-all-clear" ng-model="selectedService" ng-options="s.name for s in services | orderBy:'name'" ng-change="loadServiceRoles(selectedService)">
        <option value="">- Select -</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Available Service Roles</label>
      <!-- idm-multi-check repeat-model="availRoles" check-model="data.toBeAssignedRoles" model-id="role.id" model-name="role.name" criteria="availableCriteria" search-hint="Filter by role name"></idm-multi-check -->
      <select class="form-control idm-multi-select" ng-model="data.toBeAssignedRoles" ng-options="r.role.name for r in availRoles | orderBy:'role.name'" size="8" multiple="multiple" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="reset" ng-click="cancel()" class="btn btn-hp btn-2nd">Cancel</button>
  <button type="submit" ng-click="save()" class="btn btn-hp">Submit</button>
</div>
</script>