<script id="idm-wizard.html" type="text/ng-template">
  <div class="container">
    <div class="row spacer-bottom">
      <div class="col-xs-10 col-sm-10 col-lg-10">
        <h3>Password Reset</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-lg-10">
        <form name="resetForm">
          <div ng-transclude></div>
        </form>
      </div>
    </div>
    <div class="row">
      <p>&nbsp;</p>
  
      <div class="col-xs-10 col-sm-6 col-lg-4 spacer-bottom100">
        <div class="btn-hp-left">
          <button type="reset" ng-click="$parent.cancelResetPassword()" class="btn-hp">Cancel</button>
        </div>
        <div class="btn-hp-right">
          <button type="submit" ng-disabled="resetForm.$invalid" ng-click="$parent.commitResetPassword()" class="btn-hp pull-right" ng-show="!hasNext()">Submit</button>
        </div>
        <div class="btn-hp-right">
          <button class="btn-hp" ng-disabled="resetForm.$invalid" ng-click="showNextStep()" ng-show="hasNext()">Next</button>
        </div>
      </div>
    </div>
  </div>
</script>

<div ng-controller="UserController" ng-init="initResetPassword()">

  <idm-wizard name="resetWiz" form-name="resetForm" current-step-index="currentStepIndex" on-before-step-change="beforeStepChange(event)">
  
    <idm-step step-title="Enter your email address and authentication provider to reset your password.">
      <div class="row spacer-bottom"></div>
      <div class="row spacer-bottom">
        <div class="col-xs-10 col-sm-10 col-lg-10">
          <p>Email Address:</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-lg-4">
          <input name="email" type="email" ng-model="resetPassword.email" placeholder="Email" ng-required="currentStepIndex == 0" idm-validator="email"/>
        </div>
      </div>
      <div class="row spacer-bottom">
        <div class="col-xs-10 col-sm-10 col-lg-10">
          <p>Select an Authentication Provider:</p>
        </div>
        <div class="col-xs-8 col-sm-4 col-lg-4">
          <select name="authProvider" class="form-control"
            data-ng-model="resetPassword.authProvider"
            data-ng-options="authProvider.code as authProvider.name for authProvider in authProviders | orderBy:'name'"
            placeholder="AuthProvider" ng-required="currentStepIndex == 0"></select>
        </div>
        <div class="col-xs-4 col-sm-2 col-lg-2">
          <span class="help"> <a rel="" tooltip="Whoever maintains your credentials and account">Help</a>
          </span>
        </div>
      </div>
    </idm-step>
    
    <idm-step step-title="Answer your security question.">
      <div class="row spacer-bottom"></div>
      <div class="row spacer-bottom">
        <div class="col-xs-10 col-sm-10 col-lg-10">
          <p>{{resetPassword.challengeQuestion}}</p>
        </div>
        <div class="col-xs-10 col-sm-10 col-lg-10">
          <p>Answer:</p>
        </div>
        <div class="col-xs-10 col-sm-6 col-lg-4">
          <input name="answer" type="text" ng-model="resetPassword.answer" placeholder="Security Answer" ng-required="currentStepIndex == 1">
        </div>
      </div>
    </idm-step>
    
    <idm-step step-title="Enter your new password.">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-7">
          <p>Password:</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-7">
          <input type="password" ng-model="resetPassword.passwordNew" ng-required="currentStepIndex == 2" ng-minlength="6" ng-maxlength="20" />
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-7">
          <p>Confirm Password:</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-7 spacer-bottom">
          <input name="passwordConfirm" type="password" ng-model="resetPassword.passwordNewConfirm" ng-required="currentStepIndex == 2" ng-minlength="6" ng-maxlength="20" match="resetPassword.passwordNew" />
        </div>
        <div class="col-xs-10 col-sm-10 col-lg-8">
          <div ng-show="(resetForm.password.$dirty && resetForm.password.$error.maxlength) || (resetForm.password.$dirty && resetForm.password.$error.minlength)">
            <div>
              <p>&nbsp;</p>
            </div>
            <p class="alert alert-info">Passwords must be 6-20 characters.</p>
          </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-lg-8">
          <div ng-show="resetForm.passwordConfirm.$error.mismatch">
            <div>
              <p>&nbsp;</p>
            </div>
            <p class="alert alert-info">Passwords must match.</p>
          </div>
        </div>
      </div>
    </idm-step>
    
  </idm-wizard>

</div>