<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h2 class="modal-title">HPWS Application Services</h2>
</div>
<div class="modal-body" modal-scrollable>

  <div class="section-title">End-User Terms &amp; Conditions</div>

  <ol start="1" type="1">
    <li class="list-title">HPWS Application Services End-User Terms And Conditions</li>
  </ol>

  <p class="spacer-terms">THE FOLLOWING TERMS AND CONDITIONS
    ('AGREEMENT') APPLY TO YOUR USE OF THE APPLICATION SERVICES
    ('Application Services'), YOUR PURCHASE OF PRODUCTS (EACH, AN
    'APPLICATION') THROUGH THE Application Services, AND YOUR USE OF
    SUCH APPLICATIONS. BEFORE USING, DOWNLOADING FROM OR OTHERWISE
    ACCESSING THE HP Application Services OR ANY APPLICATION, CAREFULLY
    READ THIS AGREEMENT. THE APPLICATIONS PROVIDED THROUGH THE
    APPLICATION SERVICES ARE LICENSED BY THE PROVIDER OF THE APPLICATION
    ('APPLICATION PROVIDER') TO YOU, THE ORIGINAL END USER, SOLELY FOR
    YOUR PERSONAL USE AS SET FORTH BELOW AND SUBJECT TO THE APPLICABLE
    END-USER LICENSE AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS AND
    CONDITIONS OF THIS AGREEMENT, DO NOT USE, DOWNLOAD OR OTHERWISE
    ACCESS THE APPLICATION SERVICES. USING, DOWNLOADING, OR OTHERWISE
    ACCESSING ANY PART OF THE APPLICATION SERVICES INDICATES THAT YOU
    ACCEPT THESE TERMS AND CONDITIONS. YOU MUST BE AT LEAST 13
    (THIRTEEN) YEARS OF AGE TO USE OR ACCESS THE APPLICATION SERVICES.
    IF YOU ARE AT LEAST 13 BUT UNDER THE AGE OF 18, YOU MUST HAVE YOUR
    PARENT OR LEGAL GUARDIAN'S PERMISSION TO USE OR ACCESS THE
    APPLICATION SERVICES.</p>

  <p class="spacer-terms">PLEASE NOTE THAT IF YOU ARE A CONSUMER IN
    THE EUROPEAN ECONOMIC AREA OR SWITZERLAND, THIS LICENSE AGREEMENT
    DOES NOT AFFECT YOUR STATUTORY RIGHTS. FOR FURTHER INFORMATION ABOUT
    YOUR STATUTORY RIGHTS CONTACT YOUR LOCAL AUTHORITY, TRADING
    STANDARDS DEPARTMENT OR CITIZENS ADVICE BUREAU (OR LOCAL
    EQUIVALENT).</p>

  <ol start="2" type="1">
    <li class="list-title">Application License Agreement</li>
  </ol>

  <p class="spacer-terms">
    Your use of each Application that you download through the
    Application Services is governed by the terms of the Application
    License Agreement between you and the Application Provider (the '<span
      class="bold-text">Application License Agreement</span>') set forth
    below. If the Application Provider provides an End-User License
    Agreement ('<span class="bold-text">EULA</span>') with the
    Application, those terms shall supplement the Application License
    Agreement. As between you and the Application Provider, any
    additional or different terms in such EULA shall take precedence
    over the terms in the Application License Agreement.
  </p>

  <ol start="3" type="1">
    <li class="list-title">HP's Role In Providing Applications</li>
  </ol>

  <p class="spacer-terms">You agree that the license you purchase to
    each Application is a binding agreement between you and the
    Application Provider only. The Application Provider is solely
    responsible for that Application, the content therein, any terms,
    conditions and warranties to the extent that such terms, conditions
    and warranties have not been disclaimed, and any claims relating to
    that Application. You acknowledge that HP and HP's subsidiaries are
    acting as agent for the Application Provider in providing each
    Application to you and is not a party to the license between you and
    the Application Provider. HP is not responsible for any Application,
    the content therein, or any terms, conditions, warranties or claims
    that you or any other party may have relating to that Application.</p>

  <p class="spacer-terms">You further acknowledge and agree that HP
    is a third party beneficiary of the Application License Agreement
    and, any EULA, if so provided. You acknowledge and agree that HP
    will have the right (and will be deemed to have accepted the right)
    to enforce such license against you as a third party beneficiary of
    those agreements.</p>

  <ol start="4" type="1">
    <li class="list-title">Restrictions</li>
  </ol>

  <p class="spacer-terms">You agree that HP and/or third parties own
    all right, title and interest in and to the Application Services and
    all Applications (including all copyrights and trademarks relating
    thereto). you may not distribute or make the Application available
    over a network or for use with multiple devices. Except as otherwise
    provided below, you may not modify or alter the Application in any
    way, and may only use the Application as expressly set forth above
    and as set forth in the applicable EULA for the Application. You
    agree that you will not attempt to, or assist or encourage any other
    person or entity to circumvent, disable or modify any security
    technology or software that is part of the Application or is used on
    your HP device. Except as set forth above, HP and the Application
    Providers reserve all other rights in or to the Application. If
    applicable law permits you to copy or modify the Application, then
    you may copy and modify the Application solely to the extent, and
    for such purposes as, expressly permitted by applicable law. You
    agree that you will not engage in any activity that interferes with
    or disrupts the Application Services or services available through
    Applications you have downloaded. You further agree that you will
    not use any Applications you download to interfere with or otherwise
    disrupt any servers, networks, websites or services.</p>

  <ol start="5" type="1">
    <li class="list-title">HP Has The Right To Modify, Change or
      Terminate Your Use Of The Application Services or Applications
      Found through the Application Services</li>
  </ol>

  <p class="spacer-terms">HP reserves the right, at its sole
    discretion and at any time, to add, remove, disable access to,
    block, or modify the Application Services, and to add, remove,
    disable access to, block, or modify remotely any Applications
    previously downloaded to your device from the Application Services.
    HP may be required to take these actions due to changes in the
    obligations or restrictions from its third party licensors or
    partners, an Application Provider's serious violation of its
    agreement with HP, or due to any governmental restriction or court
    order. HP may also impose limits on the use of or access to certain
    features or portions of the Application Services or Applications
    downloaded from the Application Services, in any case and without
    notice or liability. If HP removes, disables access to, or otherwise
    blocks you from accessing an Application, you will need to contact
    the Application Provider for further action.</p>

  <ol start="6" type="1">
    <li class="list-title">HP Has The Right To Modify These Terms</li>
  </ol>

  <p class="spacer-terms">HP reserves the right to modify the terms
    of this Agreement at its sole discretion at any time. Any such
    modification will be effective upon HP notifying you prior to your
    continued use or access of the Application Services. Your continued
    use of the Application Services after such notice will constitute
    your binding acceptance of the Agreement as revised.</p>

  <ol start="7" type="1">
    <li class="list-title">Fees And Payment</li>
  </ol>

  <p class="spacer-terms">
    Applications are either available for download at no charge or,
    where available, require payment of a specified amount by the
    end-user ('<span class="bold-text">Paid-For Applications</span>').
    For Paid-For Applications, the Application Services accepts credit
    cards and Mastercard or Visa branded debit cards (each, a '<span
      class="bold-text">Card</span>'). You agree to pay for all Paid-For
    Applications you purchase. YOU ARE RESPONSIBLE FOR THE TIMELY
    PAYMENT OF ALL FEES AND FOR PROVIDING HP OR ITS DESIGNEE WITH A
    VALID CARD FOR PAYMENT OF ALL FEES. You will be required to provide
    accurate, current and complete Card information before you will be
    permitted to download Paid-For Applications. You authorize HP or its
    agents to charge or debit your Card the specified amount plus any
    applicable sales tax for each Paid-For Application you download.
    Once you enter a Card, such Card will be used for future
    transactions unless you designate a different Card. Debit cards and
    check cards have daily spending limits that may prevent the
    processing of your order. If the transaction is not accepted online,
    you will be unable to use that Card for your transaction and should
    use another Card. Alternatively, in some locations with some
    wireless carriers, you may elect to be billed by the wireless
    carrier providing telecommunications service for your device. If so
    enabled and you choose wireless carrier billing, the related terms
    and conditions of your wireless carrier will apply.
  </p>

  <ol start="8" type="1">
    <li class="list-title">Prices</li>
  </ol>

  <p class="spacer-terms">Your total price will include the price of
    the Application plus any applicable sales tax, value added tax or
    other applicable taxes. Prices in the European Union are inclusive
    of taxes. Sales tax in the United States will be based on the
    billing address and the sales tax rate in effect at the time your
    transaction is completed. For international customers, other
    transaction taxes may apply. Tax exemptions will not be processed
    for Application Services purchases. HP reserves the right to change
    prices for Applications offered through the Application Services at
    any time, and does not provide price protection or refunds in the
    event of a temporary or permanent price drop, rebate or other
    promotion.</p>

  <ol start="9" type="1">
    <li class="list-title">Refunds</li>
  </ol>

  <p class="spacer-terms">Prices and availability of any
    Applications are subject to change at any time. All sales of
    successfully downloaded Applications are final and non-refundable.</p>

  <ol start="10" type="1">
    <li class="list-title">Delivery Of Applications</li>
  </ol>

  <p class="spacer-terms">If delivery of an Application you
    purchased is interrupted, you will be able to resume or restart such
    delivery at no additional charge. On occasion, technical problems
    may delay or prevent delivery of an Application. Your exclusive and
    sole remedy with respect to such Application that is not delivered
    within a reasonable period will be replacement of such Application,
    or refund of the price paid for such Application if such Application
    is no longer available for download.</p>

  <ol start="11" type="1">
    <li class="list-title">Customer Service</li>
  </ol>

  <p class="spacer-terms">For any issues or questions concerning the
    Application Services, please contact HPWS-APIsupport@hp.com. HP does
    not provide support for Applications, and the Application Provider
    is responsible for providing such support. For any issues or
    questions concerning specific Applications, please contact the
    Application Provider.</p>

  <ol start="12" type="1">
    <li class="list-title">Responsibility For Application Services
      Activities</li>
  </ol>

  <p class="spacer-terms">You are entirely responsible for all
    activities that occur on or through the Application Services from
    your device, including any unauthorized purchases made through your
    device, and you agree to notify HP immediately of any unauthorized
    use of your device or any other breach of security. HP is not
    responsible for any losses arising out of the unauthorized use of
    your device. HP reserves the right to disable, block, suspend or
    otherwise limit your access to the Application Services in the event
    of unauthorized use of your device or if you violate the terms of
    this Agreement.</p>

  <ol start="13" type="1">
    <li class="list-title">Content Accessed Through Applications</li>
  </ol>

  <p class="spacer-terms">
    You acknowledge and agree that certain Applications may provide
    access to products, services, web content or other third-party
    materials (together, ' <span class="bold-text">Third-Party
      Content</span>') and that HP is not responsible for such Third-Party
    Content. HP makes no representations or warranties regarding, and
    accepts no liability in respect of, such Third-Party Content. You
    further acknowledge that by accessing the Application Services or
    Applications downloaded through the Application Services, you may be
    exposed to Third-Party Content that contains explicit language or is
    offensive, indecent or objectionable to you, and that you may not be
    warned about the specific Application or Third-Party Content in
    advance. You agree that your downloading and use of all Applications
    will be at your sole risk, and HP shall have no liability to you as
    a result of any exposure through such Applications.
  </p>

  <ol start="14" type="1">
    <li class="list-title">Internet Connection</li>
  </ol>

  <p class="spacer-terms">Access to and downloading from the
    Application Services requires an internet connection. In addition,
    your use of certain Applications may require an internet connection.</p>

  <ol start="15" type="1">
    <li class="list-title">Reviews</li>
  </ol>

  <p class="spacer-terms">HP, in its sole discretion, may permit
    users to post reviews of Applications within the Application
    Services. Such reviews reflect the opinions of the reviewers and not
    HP, and HP makes no representations or warranties as to the accuracy
    or completeness of the reviews. You agree that HP shall have no
    liability to you if you rely on the reviews to download or use an
    Application. HP reserves the right to, but has no obligation to,
    remove reviews that HP deems irrelevant or otherwise inappropriate
    for any reason. If you post a review, you hereby grant HP a
    perpetual, worldwide, fully transferable and sub-licensable,
    irrevocable, royalty-free license to make, use, sell, market,
    reproduce, create derivative works of, distribute, perform, and
    display the review in any manner and for any purpose. You
    acknowledge that your personally identifiable information may be
    associated with your review unless you post the review anonymously.
    If you post a review, you agree not to post, publish or transmit any
    material that: (i) is false or misleading; (ii) is defamatory; (iii)
    invades another's privacy; (iv) is obscene, pornographic, or
    offensive; (v) promotes bigotry, racism, hatred or harm against any
    individual or group; (vi) infringes on another's rights, including
    but not limited to any intellectual property rights; or (vii)
    violates, or encourages any conduct that would violate any
    applicable law or regulation or would give rise to civil liability.</p>

  <ol start="16" type="1">
    <li class="list-title">Consent To Use Of Data</li>
  </ol>

  <p class="spacer-terms">
    You agree that HP, its affiliates and designated agents may collect
    and use technical and related information, gathered in any manner,
    as part of product support services related to the Application
    Services. This includes the use of Google Analytics or other
    analytics tools for the collection of anonymous usage information,
    which helps HP understand how visitors engage with the Application
    Services. HP, its affiliates and designated agents may use this
    information solely to improve its products or to provide customized
    services or technologies to you. HP will collect and use this
    information in accordance with its privacy policy located at <a
      href="http://www8.hp.com/us/en/privacy/privacy.html"
      target="_blank">http://www8.hp.com/us/en/privacy/privacy.html</a>
    and in accordance with applicable data protection laws. HP, its
    affiliates and designated agents may disclose this information to
    others, but not in a form that personally identifies you.
  </p>

  <ol start="17" type="1">
    <li class="list-title">Reverse Engineering</li>
  </ol>

  <p class="spacer-terms">You may not reverse engineer, decompile,
    or disassemble the Application Services or any Applications
    downloaded from the Application Services, except and only to the
    extent that such activity is expressly permitted by applicable law.</p>

  <ol start="18" type="1">
    <li class="list-title">Indemnification</li>
  </ol>

  <p class="spacer-terms">To the maximum extent permitted by law,
    you agree to defend, indemnify and hold HP, its directors, officers,
    employees, affiliates, and agents harmless from and against any and
    all claims arising out of your breach of this Agreement, your use of
    the Application Services, or your use of any Applications downloaded
    from the Application Services.</p>

  <ol start="19" type="1">
    <li class="list-title">Warranty And Disclaimers</li>
  </ol>

  <p class="spacer-terms">EXCEPT AS MAY BE PROVIDED UNDER A WARRANTY
    FOR NEWLY PURCHASED DEVICES, AND TO THE MAXIMUM EXTENT PERMITTED BY
    APPLICABLE LAW, YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE
    APPLICATION SERVICES IS AT YOUR SOLE RISK AND THAT ACCESS TO THE
    APPLICATION SERVICES IS PROVIDED TO YOU ON AN 'AS IS' AND 'AS
    AVAILABLE' BASIS AND WITHOUT ANY WARRANTY OF ANY KIND OR NATURE. HP
    DOES NOT WARRANT THAT USE OF THE APPLICATION SERVICES WILL BE
    UNINTERRUPTED, FAULT-TOLERANT OR ERROR FREE. TO THE MAXIMUM EXTENT
    PERMITTED BY APPLICABLE LAW, HP AND ITS SUPPLIERS EXPRESSLY DISCLAIM
    ANY IMPLIED OR STATUTORY TERMS, CONDITIONS OR WARRANTIES, INCLUDING
    THOSE AS TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    TITLE, ACCURACY, CORRESPONDENCE WITH DESCRIPTION, SATISFACTORY
    QUALITY AND NON-INFRINGEMENT. HP MAKES NO WARRANTY OF ANY KIND,
    WHETHER EXPRESS OR IMPLIED, WITH REGARD TO ANY THIRD PARTY SOFTWARE
    OR OPEN SOURCE SOFTWARE. ALL THIRD PARTY SOFTWARE AND OPEN SOURCE
    SOFTWARE IS PROVIDED "AS-IS," WITHOUT WARRANTIES OF ANY KIND BY HP.</p>

  <ol start="20" type="1">
    <li class="list-title">Limitation Of Liability</li>
  </ol>

  <p class="spacer-terms">NOTHING IN THIS LIMITATION OF LIABILITY
    LIMITS OR EXCLUDES HP'S OR ITS SUPPLIERS' LIABILITY FOR DEATH OR
    PERSONAL INJURY CAUSED BY NEGLIGENCE, FOR REPRESENTATIONS MADE
    FRAUDULENTLY, OR FOR ANY OTHER LIABILITY WHICH CANNOT BE LIMITED OR
    EXCLUDED BY APPLICABLE LAW. TO THE MAXIMUM EXTENT PERMITTED BY
    APPLICABLE LAW, NEITHER HP NOR ITS SUPPLIERS SHALL BE LIABLE FOR
    INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES OF
    ANY KIND, LOSS OF INFORMATION OR DATA, LOSS OF REVENUE, LOSS OF
    BUSINESS OR OTHER FINANCIAL LOSS ARISING OUT OF OR IN CONNECTION
    WITH THE LICENSE OR USE OF THE APPLICATION SERVICES OR APPLICATIONS
    DOWNLOADED FROM THE APPLICATION SERVICES, WHETHER BASED IN CONTRACT,
    TORT (INCLUDING NEGLIGENCE), STRICT PRODUCT LIABILITY OR ANY OTHER
    THEORY, EVEN IF HP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
    DAMAGES AND EVEN IF ANY LIMITED REMEDY IS DEEMED TO HAVE FAILED OF
    ITS ESSENTIAL PURPOSE. HP'S ENTIRE LIABILITY SHALL BE LIMITED TO
    REPLACEMENT, REPAIR, OR REFUND OF THE PURCHASE PRICE PAID FOR THE
    APPLICABLE APPLICATION, AT HP'S OPTION. IN NO EVENT WILL HP BE
    LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE,
    EXEMPLARY, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT
    OF ANY APPLICATION OR OPEN SOURCE SOFTWARE, EVEN IF HP HAS BEEN
    ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. Some
    jurisdictions do not allow the exclusion or limitation of implied
    warranties, terms or conditions or the limitation of incidental or
    consequential damages so the above limitations and exclusions may be
    limited in their application to you. For further information about
    your statutory rights, please contact your local authority, trading
    standards department, citizens' advice bureau or equivalent.</p>

  <ol start="21" type="1">
    <li class="list-title">Export Restrictions</li>
  </ol>

  <p class="spacer-terms">You agree that you will not export or
    re-export any Application or accompanying documentation (or any
    copies thereof) in violation of any applicable laws or regulations
    of the United States. You agree to comply with all applicable United
    States and international export laws and regulations. These laws
    include restrictions on destinations, end users, and end use. You
    represent and warrant that you are not prohibited from receiving
    exports or services under United States or other applicable export
    laws.</p>

  <ol start="22" type="1">
    <li class="list-title">Term And Termination</li>
  </ol>

  <p class="spacer-terms">This Agreement is effective until
    terminated. HP may terminate this Agreement in whole or as it
    applies to your use of any Application if you breach any of the
    terms of this Agreement. You may terminate it at any time by ceasing
    to use the Application Services, provided that any terms relating to
    your use of each Application will survive unless and until you
    destroy all copies of such Application and related documentation.
    Some jurisdictions do not allow the termination of this type of
    Agreement, so the above provision may be limited in its application
    to you. In addition, HP reserves the right to modify, suspend, or
    discontinue the Application Services (or any part or content
    thereof) at any time with or without notice to you, and HP will not
    be liable to you or to any third party should it exercise such
    rights. HP may freely assign this Agreement to any subsidiary or
    affiliate of HP without Your approval.</p>

  <ol start="23" type="1">
    <li class="list-title">Special Rights For The License Or Use By
      The U.S. Government</li>
  </ol>

  <p class="spacer-terms">
    If an Application is being used by or licensed to the United States
    Government, the following shall apply: The Application licensed
    under this Agreement is 'commercial computer software' as the term
    is described in 48 C.F.R. 252.227-7014(a)(1). If acquired by or on
    behalf of a civilian agency, the U.S. Government acquires this
    commercial computer software and/or commercial computer software
    documentation subject to the terms of this Agreement as specified in
    48 C.F.R. 12.212 (Computer Software) and 48 C.F.R. 12.211 (Technical
    Data) of the Federal Acquisition Regulations ('<span
      class="bold-text">FAR</span>') and its successors. If acquired by
    or on behalf of any agency within the Department of Defense ('<span
      class="bold-text">DOD</span>'), the U.S. Government acquires this
    commercial computer software and/ or commercial computer software
    documentation subject to the terms of this Agreement as specified in
    48 C.F.R. 227.7202-3 of the DOD FAR Supplement ('<span
      class="bold-text">DFAR</span>') and its successors.
  </p>

  <ol start="24" type="1">
    <li class="list-title">Governing Law</li>
  </ol>

  <p class="spacer-terms">This Agreement shall be governed by the
    laws of the State of California and by the federal laws of the
    United States, excluding their conflicts of laws provisions. The
    United Nations Convention on Contracts for the International Sale of
    Goods (1980) is hereby excluded in its entirety from application to
    this Agreement. If you are a consumer residing in the European
    Economic Area or Switzerland, this Agreement shall be governed by
    the law of the country in which you reside.</p>

  <ol start="25" type="1">
    <li class="list-title">Severability</li>
  </ol>

  <p class="spacer-terms">In the event any provision of this
    Agreement is found to be invalid, illegal or unenforceable, the
    validity, legality and enforceability of any of the remaining
    provisions shall not in any way be affected or impaired.</p>

  <ol start="26" type="1">
    <li class="list-title">Enforcement Of Agreement</li>
  </ol>

  <p class="spacer-terms">HP reserves the right to takes any steps
    it believes to be reasonably necessary or appropriate to enforce
    and/or verify compliance with any part of this Agreement. You agree
    that HP has the right, without liability to you, to disclose any
    information relating to your use of the Application Services to law
    enforcement authorities, government officials, and/or a third party,
    as HP believes is reasonably necessary or appropriate to enforce
    and/or verify compliance with any part of this Agreement.</p>

  <ol start="27" type="1">
    <li class="list-title">Entire Agreement</li>
  </ol>

  <p class="spacer-terms">
    By accepting this Agreement, you agree that the Agreement (including
    all incorporated or referenced documents) set forth the entire
    agreement between you and HP, and supersede all prior agreements,
    whether written or oral, with respect to the Application Services
    and all Applications, notwithstanding the terms or conditions of any
    such prior agreements. If HP fails to enforce any right or provision
    in this Agreement, such failure will not constitute a waiver of such
    right or provision.<br> <br> Hewlett-Packard Company<br>
    950 W. Maude Ave.<br> Sunnyvale CA 94085-2801<br> United
    States of America<br> www.hp.com
  </p>

  <p class="spacer-terms">Last updated: March 15, 2011</p>

  <div class="section-title">Application License Agreement</div>

  <ol start="1" type="1">
    <li class="list-title">Application License Agreement</li>
  </ol>

  <p class="spacer-terms">
    THE FOLLOWING TERMS AND CONDITIONS APPLY TO YOUR USE OF EACH
    APPLICATION YOU DOWNLOAD FROM THE APPLICATION SERVICES (EACH, AN '<span
      class="bold-text">APPLICATION</span>'). BEFORE USING ANY
    APPLICATION, CAREFULLY READ THIS AGREEMENT
  </p>

  <p class="spacer-terms">PLEASE NOTE THAT IF YOU ARE A CONSUMER IN
    THE EUROPEAN ECONOMIC AREA OR SWITZERLAND, THIS LICENSE AGREEMENT
    DOES NOT AFFECT YOUR STATUTORY RIGHTS. FOR FURTHER INFORMATION ABOUT
    YOUR STATUTORY RIGHTS CONTACT YOUR LOCAL AUTHORITY, TRADING
    STANDARDS DEPARTMENT OR CITIZENS ADVICE BUREAU (OR LOCAL
    EQUIVALENT).</p>

  <p class="spacer-terms">
    The license granted hereunder is granted to you by the provider of
    the Application ('<span class="bold-text">Application
      Provider</span>') and not by Hewlett-Packard Company ('<span
      class="bold-text">HP</span>'). If the Application Provider
    provides an End User License Agreement ('<span class="bold-text">EULA</span>')
    with the Application, those terms shall supplement this Application
    License Agreement. As between you and the Application Provider, any
    additional or different terms in such EULA shall take precedence
    over the terms in this Application License Agreement.
  </p>

  <p class="spacer-terms">You acknowledge and agree that HP is a
    third party beneficiary of this Application License Agreement and
    any EULA, if so provided. You acknowledge and agree that HP will
    have the right (and will be deemed to have accepted the right) to
    enforce such license against you as a third party beneficiary of
    those agreements.</p>

  <ol start="2" type="1">
    <li class="list-title">License Grant</li>
  </ol>

  <p class="spacer-terms">You are hereby granted a limited,
    non-transferable license to use the Application for a single HP
    account that you control. You may not rent, lease, lend, sell,
    redistribute or sublicense the Application. You may not reverse
    engineer, decompile, or disassemble the Application, except and only
    to the extent that such activity is expressly permitted by
    applicable law. Any attempt to do so is a violation of the rights of
    the Application Provider. If you breach this restriction, you may be
    subject to prosecution and damages. The terms of the license will
    govern any upgrades provided by the Application Provider that
    replace and/or supplement the original Application, unless such
    upgrade is accompanied by a separate license in which case the terms
    of that license will govern. The Application Provider reserves all
    rights in and to the Application not expressly granted to you under
    this Application License Agreement.</p>

  <ol start="3" type="1">
    <li class="list-title">Consent To Use Of Data</li>
  </ol>

  <p class="spacer-terms">You agree that the Application Provider
    may collect and use technical and related information, gathered in
    any manner, as part of product support services related to the
    Application. The Application Provider may use this information
    solely to improve its products or to provide customized services or
    technologies to you. The Application Provider may disclose this
    information to others, but not in a form that personally identifies
    you.</p>

  <ol start="4" type="1">
    <li class="list-title">No Warranty</li>
  </ol>

  <p class="spacer-terms">YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT
    USE OF THE APPLICATION IS AT YOUR SOLE RISK AND THAT ACCESS TO THE
    APPLICATION IS PROVIDED TO YOU ON AN 'AS IS' AND 'AS AVAILABLE'
    BASIS AND WITHOUT ANY WARRANTY OF ANY KIND OR NATURE. THE
    APPLICATION PROVIDER DOES NOT WARRANT THAT USE OF THE APPLICATION
    WILL BE UNINTERRUPTED, FAULT-TOLERANT OR ERROR FREE. TO THE MAXIMUM
    EXTENT PERMITTED BY APPLICABLE LAW, THE APPLICATION PROVIDER
    EXPRESSLY DISCLAIMS ANY IMPLIED OR STATUTORY TERMS, CONDITIONS OR
    WARRANTIES, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE, TITLE, ACCURACY, CORRESPONDENCE WITH
    DESCRIPTION, SATISFACTORY QUALITY AND NON-INFRINGEMENT. THE
    APPLICATION PROVIDER MAKES NO WARRANTY OF ANY KIND, WHETHER EXPRESS
    OR IMPLIED, WITH REGARD TO ANY THIRD PARTY SOFTWARE OR OPEN SOURCE
    SOFTWARE.</p>

  <ol start="5" type="1">
    <li class="list-title">Limitation Of Liability</li>
  </ol>

  <p class="spacer-terms">NOTHING IN THIS LIMITATION OF LIABILITY
    LIMITS OR EXCLUDES THE APPLICATION PROVIDER'S LIABILITY FOR DEATH OR
    PERSONAL INJURY CAUSED BY NEGLIGENCE, FOR REPRESENTATIONS MADE
    FRAUDULENTLY, OR FOR ANY OTHER LIABILITY WHICH CANNOT BE LIMITED OR
    EXCLUDED BY APPLICABLE LAW. TO THE MAXIMUM EXTENT PERMITTED BY
    APPLICABLE LAW, THE APPLICATION PROVIDER SHALL NOT BE LIABLE FOR
    INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES OF
    ANY KIND, LOSS OF INFORMATION OR DATA, LOSS OF REVENUE, LOSS OF
    BUSINESS OR OTHER FINANCIAL LOSS ARISING OUT OF OR IN CONNECTION
    WITH THE LICENSE OR USE OF THE APPLICATION, WHETHER BASED IN
    CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT PRODUCT LIABILITY OR
    ANY OTHER THEORY, EVEN IF THE APPLICATION PROVIDER HAS BEEN ADVISED
    OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF ANY LIMITED REMEDY IS
    DEEMED TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. TO THE MAXIMUM
    EXTENT PERMITTED BY APPLICABLE LAW, THE APPLICATION PROVIDER'S
    ENTIRE LIABILITY SHALL BE LIMITED TO REPLACEMENT, REPAIR, OR REFUND
    OF THE PURCHASE PRICE PAID FOR THE APPLICATION, AT THE APPLICATION
    PROVIDER'S OPTION. IN NO EVENT WILL THE APPLICATION PROVIDER BE
    LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE,
    EXEMPLARY, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT
    OF ANY THIRD PARTY SOFTWARE OR OPEN SOURCE SOFTWARE, EVEN IF THE
    APPLICATION PROVIDER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
    DAMAGES OR LOSSES. Some jurisdictions do not allow the exclusion or
    limitation of implied warranties or the limitation of incidental or
    consequential damages so the above limitations and exclusions may be
    limited in their application to you.</p>

  <ol start="6" type="1">
    <li class="list-title">Export Restrictions</li>
  </ol>

  <p class="spacer-terms">You agree that you will not export or
    re-export the Application or accompanying documentation (or any
    copies thereof) in violation of any applicable laws or regulations
    of the United States. You agree to comply with all applicable United
    States and international export laws and regulations. These laws
    include restrictions on destinations, end users, and end use. You
    represent and warrant that you are not prohibited from receiving
    exports or services under United States or other applicable export
    laws.</p>

  <ol start="7" type="1">
    <li class="list-title">Term And Termination</li>
  </ol>

  <p class="spacer-terms">The license is effective until terminated
    by you or the Application Provider. Your rights under this license
    will terminate automatically without notice from the Application
    Provider if you fail to comply with any term(s) of this license.
    Upon termination of the license, you shall cease all use of the
    Application, and destroy all copies, full or partial, of the
    Application, including any accompanying documentation.</p>

  <ol start="8" type="1">
    <li class="list-title">Special Rights For The License Or Use By
      The U.S. Government</li>
  </ol>

  <p class="spacer-terms">
    If the Application is being used by or licensed to the United States
    Government, the following shall apply: The Application licensed
    under this Application License Agreement is 'commercial computer
    software' as the term is described in 48 C.F.R. 252.227-7014(a)(1).
    If acquired by or on behalf of a civilian agency, the U.S.
    Government acquires this commercial computer software and/or
    commercial computer software documentation subject to the terms of
    this Agreement as specified in 48 C.F.R. 12.212 (Computer Software)
    and 48 C.F.R. 12.211 (Technical Data) of the Federal Acquisition
    Regulations ('<span class="bold-text">FAR</span>') and its
    successors. If acquired by or on behalf of any agency within the
    Department of Defense ('<span class="bold-text">DOD</span>'), the
    U.S. Government acquires this commercial computer software and/ or
    commercial computer software documentation subject to the terms of
    this Application License Agreement as specified in 48 C.F.R.
    227.7202-3 of the DOD FAR Supplement ('<span class="bold-text">DFAR</span>')
    and its successors.
  </p>

  <ol start="9" type="1">
    <li class="list-title">Governing Law</li>
  </ol>

  <p class="spacer-terms">This Application License Agreement shall
    be governed by the laws of the State of California and by the
    federal laws of the United States, excluding their conflicts of laws
    provisions. The United Nations Convention on Contracts for the
    International Sale of Goods (1980) is hereby excluded in its
    entirety from application to this Application License Agreement. If
    you acquired the Application in the European Economic Area or
    Switzerland, this Agreement shall be governed by the law of the
    country in which you purchased the Application.</p>

  <ol start="10" type="1">
    <li class="list-title">Severability</li>
  </ol>

  <p class="spacer-terms">In the event any provision of this
    Application License Agreement is found to be invalid, illegal or
    unenforceable, the validity, legality and enforceability of any of
    the remaining provisions shall not in any way be affected or
    impaired.</p>

  <ol start="11" type="1">
    <li class="list-title">Entire Agreement</li>
  </ol>

  <p class="spacer-terms">By accepting this Application License
    Agreement, you agree that such agreement (including all incorporated
    or referenced documents) sets forth the entire agreement between you
    and the Application Provider, and supersedes all prior agreements,
    whether written or oral, with respect to the Application,
    notwithstanding the terms or conditions of any such prior
    agreements. If the Application Provider fails to enforce any right
    or provision in this Application License Agreement, such failure
    will not constitute a waiver of such right or provision.</p>

  <p class="spacer-terms">Last updated: March 12, 2013</p>
  <br>

</div>
